* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

.app-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.nav-button {
	margin: 1rem;
}
